[submodule "3rdparty/libmakefile"]
	path = 3rdparty/libmakefile
	url = https://github.com/alperakcan/libmakefile.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/zip"]
	path = 3rdparty/zip
	url = https://github.com/kuba--/zip.git
[submodule "3rdparty/libexpat"]
	path = 3rdparty/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "3rdparty/clipper2"]
	path = 3rdparty/clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
